<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792942840141-ql8rptfieh3462gs3f4so333hpkemu2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792942840141-ql8rptfieh3462gs3f4so333hpkemu2l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>792942840141-4vnhclheiuaeahru1n416tv20u382td3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCQxAUL3c34B5yNiYisaOcTdscNtojW-o</string>
	<key>GCM_SENDER_ID</key>
	<string>792942840141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.publicTestingApp</string>
	<key>PROJECT_ID</key>
	<string>learning-system-ee819</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-system-ee819.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792942840141:ios:c039fe8a679b8497f00f04</string>
</dict>
</plist>